<html>
    <head>
        <title>Nenda Lote Mama By Sauti Sol</title>
        <link rel="stylesheet" type="text/css" href="/App.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!---<style>
        @import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');
    </style>--->
    </head>

    <body>
        <header class="header">
            <h1>Nenda Lote Mama</h1>
        </header>
        <main class="main-content">
            <h3>Chorus</h3>
            <p>
                Mpenzi Unaenda
            </p> 
            <p>Nilikuenzi vinoma noma</p>
            <p>Yashamwagika hayazoleki haya oh</p>
            <p>Nenda Lote Mama</p>
        </main>
        <footer class="footer-content">
            @Copyright 2024
        </footer>
    </body>
</html>