<html>
    <head>
        <title>Nenda Lote</title>
        <link rel="stylesheet" type="text/css" href="/src/public/App.css">
    </head>
    <body>
        <header class="header">

            <h1>Nenda Lote Mama</h1>
        </header>
        <main>
            <p>
                Mpenzi Unaenda
            </p> 
            <p>Nilikuenzi vinoma noma</p>
            <p>Yashamwagika hayazoleki haya oh</p>
            <p>Nenda Lote Mama</p>
        </main>
        
    </body>
</html>