<html>
    <head>
        <title>Nenda Lote</title>
        <link rel="stylesheet" type="text/css" href="/src/public/App.css">
    </head>
    <body>
        <main>

            <h1>Nenda Lote Mama</h1>
        </main>
        <section>
            <p>
                Mpenzi Unaenda
            </p> 
            <p>Nilikuenzi vinoma noma</p>
            <p>Yashamwagika hayazoleki haya oh</p>
            <p>Nenda Lote Mama</p>
        </section>
        
    </body>
</html>