<html>
    <head>
        <title>Nenda Lote</title>
        <link rel="stylesheet" type="text/css" href="/App.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap')
    </style>
    </head>

    <body>
        <header class="header">

            <h1>Nenda Lote Mama</h1>
        </header>
        <main>
            <p>
                Mpenzi Unaenda
            </p> 
            <p>Nilikuenzi vinoma noma</p>
            <p>Yashamwagika hayazoleki haya oh</p>
            <p>Nenda Lote Mama</p>
        </main>
        
    </body>
</html>