html, body, * {
    box-sizing: border-box;
    font-family: "Nokora", sans-serif;
    margin: 0;
    
}

.header {
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem auto;
    border: 1px hidden gray;
    
}

h1 { 
    font-size: 3em;
    text-align: center;
    background-color: rgb(168, 61, 22);
    font-weight: 700;

}
.main-content {
    margin: auto auto;
    padding: 1rem 2rem;
    text-align : center;
}

@media only screen and (orientation: portrait) {
    .header {
        font-size: 2em;
        font-weight: 600;
        display: block; 
        margin: 1rem;
        padding: 1rem 2rem; 
    }
    h1 {
        text-align: center;
    }
    body { 
        font-weight: 12dvh;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}